.main {
  padding: 40px $padding-app-left-right $padding-app-bottom;

  &__header { 
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
}

.pizzas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem 1.5rem;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  .pizzas {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 650px) {
  .pizzas {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 460px) {
  .pizzas {
    grid-template-columns: 1fr;
  }
}
