.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem $padding-app-left-right;
  border-bottom: 1px solid #f6f6f6;

  @media screen and  (max-width: 900px) {
    padding: 2rem $padding-app-left-right/2;
  }
}

.header__logo {
  display: flex;
  align-items: center;

  &-img-wrapp {
    width: 2.375rem;
    height: 2.375rem;
    margin-right: 1rem;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &-title-wrapp {
    h1 {
      font-size: 1.5rem;
      margin: 0;
      text-transform: uppercase;
      a {
        color: $color-text-title;
        text-decoration: none;
      }
    }

    div {
      font-size: 0.8rem;
      a {
        color: $color-text-subtitle;
        text-decoration: none;
      }
    }
  }
}
