@import "~normalize.css/normalize.css";
@import './variables';
@import './all';

body {
  background-color: $color-background;
  
}

.App__container {
  max-width: 1340px;
  margin: 2.687rem auto;
  background-color: #fff;
  border-radius: 1.25rem;
  padding: 3.125rem;
  padding-bottom: 5rem;
}
